<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/style.css">
    <title>Product</title>
</head>
<body>
<div class="w-full h-screen flex flex-col gap-2">
    <div class="w-full relative bg-[#F3F3F3] h-2/5 flex items-center justify-center p-3">
        <div >
            <img src="../../public/assets/Images/product-1.png" alt="product">
        </div>
        <div class="absolute left-1/2 -translate-x-1/2 bottom-6 flex gap-2 items-center">
            <span class="w-8 h-1 rounded-2xl bg-black"></span>
            <span class="w-8 h-1 rounded-2xl bg-black"></span>
            <span class="w-8 h-1 rounded-2xl bg-black"></span>
        </div>
        <span class="absolute top-4 left-6"><img src="../../public/assets/Images/back-arrow.svg" alt="back" class="w-4"></span>

    </div>
    <div class="px-6 flex flex-col gap-5 my-2">
        <div class="flex flex-col gap-4">
            <div class="flex justify-between items-center">
                <h1 class="font-bold text-3xl text-[#152536]">Running SportWear</h1>
                <span><img src="../../public/assets/Images/heart.svg" alt="favorite" class="w-5"> </span>
            </div>
            <div class="flex items-center gap-4">
                <div class="text-xs bg-gray-300 rounded-lg py-1  px-2 w-fit ">
                    5,455 sold
                </div>
                <div  class="flex items-center gap-1">
                        <img src="../../public/assets/Images/star-svgrepo-com.svg" alt="rate" class="w-4">
                    <span class="text-xs font-light opacity-80">4,3 (12300 reviews)</span>
                </div>
            </div>
        </div>
        <hr class="w-full text-black opacity-70">
        <div class="flex flex-col gap-2">
            <h3 class="font-semibold text-xl">Description</h3>
            <p class="text-[#68717A] font-light line-clamp-2">
                In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorp
            </p>
        </div>
        <hr class="w-full text-black opacity-70">
        <div class="flex items-center gap-10 ">
            <div class="flex flex-col gap-4">
                <label  class="font-bold text-[#152536] text-xl">Size</label>
                <div class="flex items-center gap-2" >
                    <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 checked:bg-black border-2 checked:border-black rounded-full text-gray-500 border-gray-600">
                        <span class="text-gray-500 peer-checked:text-white peer-checked:z-10">42</span>
                    </div>
                        <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 checked:bg-black border-2 checked:border-black rounded-full text-gray-500 border-gray-600">
                        <span class="text-gray-500 peer-checked:text-white peer-checked:z-10">41</span>
                    </div>
                        <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 checked:bg-black border-2 checked:border-black rounded-full text-gray-500 border-gray-600">
                        <span class="text-gray-500 peer-checked:text-white peer-checked:z-10">40</span>
                    </div>
                </div>

            </div>
              <div class="flex flex-col gap-4">
                <label  class="font-bold text-[#152536] text-xl">Color</label>
                <div class="flex items-center gap-2" >
                    <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 bg-red-600 border-2 border-red-600 rounded-full checked:bg-red-800 transition-all duration-300 ">
                        <span class=" peer-checked:text-white peer-checked:z-10 peer-checked:block hidden">&check;</span>
                    </div>
                    <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 bg-green-600 border-2 border-green-600 rounded-full checked:bg-green-800 transition-all duration-300 ">
                        <span class=" peer-checked:text-white peer-checked:z-10 peer-checked:block hidden">&check;</span>
                    </div>
                    <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 bg-blue-600 border-2 border-blue-600 rounded-full checked:bg-blue-800 transition-all duration-300 ">
                        <span class=" peer-checked:text-white peer-checked:z-10 peer-checked:block hidden">&check;</span>
                    </div>
                    <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 bg-yellow-600 border-2 border-yellow-600 rounded-full checked:bg-yellow-800 transition-all duration-300 ">
                        <span class=" peer-checked:text-white peer-checked:z-10 peer-checked:block hidden">&check;</span>
                    </div>
                     <div  class="p-2 relative w-8 h-8  flex justify-center items-center overflow-hidden">
                        <input type="radio" name="size" class="appearance-none peer w-full h-full absolute top-0 left-0 bg-gray-600 border-2 border-gray-600 rounded-full checked:bg-gray-800 transition-all duration-300 ">
                        <span class=" peer-checked:text-white peer-checked:z-10 peer-checked:block hidden">&check;</span>
                    </div>

                </div>

            </div>

        </div>
        <div class="flex items-center gap-5 my-2.5">
            <span class="font-bold text-lg tracking-tight">Quantity</span>
            <div class="bg-gray-200/80 rounded-3xl py-2 px-6 flex items-center gap-6 font-semibold text-xl">
                <button class="text-2xl">-</button>
                <span>3</span>
                <button class="text-2xl">+</button>
            </div>
        </div>
        <hr class="w-full text-black opacity-70">
        <div class=" w-full flex justify-between px-6 py-3 items-center">
            <div class="flex flex-col gap-2">
                <span class="text-xs opacity-40 font-light">total Price</span>
                <span class="text-2xl font-semibold ">$ 249.00 </span>
            </div>
            <div>
                <button class="rounded-3xl py-3 px-8 text-white font-bold flex items-center justify-center gap-5 bg-black shadow-lg shadow-black">
                    <img src="../../public/assets/Images/cart-svgrepo-com.svg" class="w-5">
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>

    </div>
</div>
</body>
</html>