<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>onboarding-2</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
        <div class="relative w-full h-screen bg-center bg-no-repeat bg-cover bg-onboard-bg">
            <div class="absolute top-0 left-0 w-full h-full bg-black/50 "></div>
            <div class="absolute z-10 flex flex-col gap-4 p-6 bottom-16">
                <h4 class="text-[40px] font-semibold leading-[49px] text-white motion-preset-slide-up motion-duration-700">Welcome To 👋</h4>
                <h1 class="font-bold text-7xl leading-[80px] text-white motion-preset-slide-up motion-duration-1000">Shoea</h1>
                <p class=" text-base font-semibold text-white line-clamp-2 motion-preset-slide-up motion-duration-1500">The best sneakers & shoes e-commerse app of the century for your fashion needs!</p>
            </div>
        </div>
</body>
</html>