<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Boarding 1</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
        <div class="relative flex items-center justify-center h-screen">
            <div class="flex items-center gap-3">
                <div class="bg-black rounded-full p-4 w-[59px] h-[59px] flex items-center justify-center">
                    <img src="../../public/assets/Images/logo.png" alt="logo" class="w-full">
                </div>
                <h1 class="text-[#152536] font-semibold text-[52px]">Shoea</h1>
            </div>
            <div class="absolute w-12 text-center bottom-[117px]">
                <img src="../../public/assets/Images/spinner-atom.png" class="w-full animate-spin animate-infinite animate-ease-linear" alt="spinner">
            </div>
        </div>
</body>
</html>
